@{
    ViewData["Title"] = "About";
}
<head>

<style>@*added opacity to see the list group item and h2*@
   .list-group-item {
        background-color:rgb(0, 38, 255);opacity:0.8; 
        border:.1px;
        padding: 5px; 2px;
        width: 150%;
        font-weight:400;
        
        
        
    }
    h2, .h2 {
        text-align:center;
        background-color:rgb(0, 38, 255);opacity:0.8;
        
    }
</style>
</head>
<div class="card" style="height: 20rem; width: 120rem;">
    <h2>Cheetah Race Car Club</h2>
    </div>


<div class="card" style="height: 20rem; width: 80rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Do you love race cars?</li>
        <li class="list-group-item">How about racing?</li>
        <li class="list-group-item"><p>At Cheetah Racing Club we love the adrenaline of racing, living-on-the-edge is what we're all about!</li>
        <li class="list-group-item">On our active dicussion board, club members get to meet other race car enthusiasts as well as, stay updated on all upcoming and past events.</li>
        <li class="list-group-item">New members are always welcome, young, old, men, and women! This is a place to share our love for the sport!</li>
    </ul>
</div>


