@{
    ViewData["Title"] = "About";
}
<head>

<style>
    .list-group-item {
        background-color:ActiveBorder;
        border:.2px;
        padding: 5px; 2px;
    }
</style>
</head>
<h2>Cheetah Race Car Club</h2>


<div class="card" style="height: 20rem; width: 80rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Do you love race cars?</li>
        <li class="list-group-item">How about racing?</li>
        <li class="list-group-item"><p>At Cheetah Racing Club we love the adrenaline of racing, living-on-the-edge is what we're all about!</li>
        <li class="list-group-item">On our active dicussion board, club members get to meet other race car enthusiasts as well as, stay updated on all upcoming and past events.</li>
        <li class="list-group-item">New members are always welcome, young, old, men, and women! This is a place to share our love for the sport!</li>
    </ul>
</div>

@*<div>
        <p>Do you love race cars??? </p>
        <p>How about racing??? </p>
        <p>We at cheata racing love all things to do with racing, thats what we are about.
        We have an active dicussion board always talking about upcoming events and past events.
        We our always accepting new members, young, old, man, women, just want to hear your love for the sport.
        </p>
    </div>*@
