@{
    ViewData["Title"] = "Cheetah Racing";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    72 Cheetah Drive<br />
    Barrie Ontario<br />
    <abbr title="Phone">P#</abbr>
    289.555.01100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@Cheetah.com">Support@Cheetah.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@Cheetah.com">Marketing@Cheetah.com</a>
</address>
<div id="map"></div>
<style>
    #map {
	width: 100%;
	height: 400px;
	background-color: grey;
}
</style>
<script>
    // Initialize and add the map
    function initMap() {
      // The location set to barrie
      var uluru = {lat: 44.389355, lng: -79.690331};
      // The map, centered at barrie
      var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 4, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});
      }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3iyb3l3nFt2H7YmDkN45GkjGRrbk_4yw&callback=initMap">
</script>