@{
    ViewData["Title"] = "Home Page";
}


    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cheetah Race Car Club</title>
        

    </head>
    <body>





        
        





    </body>
    </html>