@{
    ViewData["Title"] = "Home Page";
}


    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cheetah Race Car Club</title>
        <style>
              h1, .h1{
               text-align:center;
               background-color:rgb(0, 38, 255);opacity:0.8;
           }
           h2, .h2{
               text-align:center;
               background-color:rgb(0, 38, 255);opacity:0.8;
              }
        </style>

    </head>
    <body>

        <div><h1>Welcome to Cheetah Racing</h1></div>
        <div> <h2>Hope all your racing dreams come true</h2></div>



        
        





    </body>
    </html>