@{
    ViewData["Title"] = "Home Page";
}


    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cheetah Race Car Club</title>
        

    </head>
    <body>

    <h1>Welcome to Cheetah Racing</h1>
        <h2>Hope all your racing dreams come true</h2>



        
        





    </body>
    </html>